<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KPBT.thongtinketxuat" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KPBT.nhaphs" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KPBT.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KPBT.Properties.Settings.QuanlybantruConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\x86\Debug\Quanlybantru.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <KPBT.thongtinketxuat>
            <setting name="tendv" serializeAs="String">
                <value>Trường THCS Cát Thịnh</value>
            </setting>
            <setting name="tenct" serializeAs="String">
                <value />
            </setting>
            <setting name="nlb" serializeAs="String">
                <value>Nguyễn Thị Ngọc</value>
            </setting>
            <setting name="ttdv" serializeAs="String">
                <value>Phan Ngọc Nam</value>
            </setting>
            <setting name="ptkt" serializeAs="String">
                <value>Bùi Thị Xuân</value>
            </setting>
            <setting name="diadanh" serializeAs="String">
                <value>Yên Bái</value>
            </setting>
            <setting name="bt" serializeAs="String">
                <value>bt</value>
            </setting>
            <setting name="NTT" serializeAs="String">
                <value>01/01/2014</value>
            </setting>
            <setting name="NTD" serializeAs="String">
                <value>31/12/2014</value>
            </setting>
            <setting name="thuquy" serializeAs="String">
                <value>Nguyễn Thị Lan</value>
            </setting>
            <setting name="madvqhns" serializeAs="String">
                <value>11122251</value>
            </setting>
            <setting name="thukho" serializeAs="String">
                <value>Nguyễn Thị Ngọc</value>
            </setting>
            <setting name="namhoc" serializeAs="String">
                <value />
            </setting>
        </KPBT.thongtinketxuat>
        <KPBT.nhaphs>
            <setting name="dantoc" serializeAs="String">
                <value />
            </setting>
            <setting name="diachi" serializeAs="String">
                <value />
            </setting>
            <setting name="tenphong" serializeAs="String">
                <value />
            </setting>
        </KPBT.nhaphs>
        <KPBT.Settings1>
            <setting name="namlv" serializeAs="String">
                <value>QLDD2014.mdb</value>
            </setting>
            <setting name="mucan" serializeAs="String">
                <value>9500</value>
            </setting>
            <setting name="namend" serializeAs="String">
                <value>dd</value>
            </setting>
            <setting name="mknd" serializeAs="String">
                <value>dd</value>
            </setting>
            <setting name="phuonganh" serializeAs="String">
                <value>phuonganh</value>
            </setting>
            <setting name="thuno" serializeAs="String">
                <value />
            </setting>
            <setting name="thuco" serializeAs="String">
                <value />
            </setting>
            <setting name="chino" serializeAs="String">
                <value />
            </setting>
            <setting name="chico" serializeAs="String">
                <value />
            </setting>
            <setting name="thumucdoi" serializeAs="String">
                <value />
            </setting>
            <setting name="namdoi" serializeAs="String">
                <value />
            </setting>
            <setting name="thumucgoc" serializeAs="String">
                <value />
            </setting>
            <setting name="thumucdich" serializeAs="String">
                <value />
            </setting>
            <setting name="namgoc" serializeAs="String">
                <value />
            </setting>
            <setting name="dc" serializeAs="String">
                <value />
            </setting>
            <setting name="mucansang" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="mucantoi" serializeAs="String">
                <value>9500</value>
            </setting>
            <setting name="mucanht" serializeAs="String">
                <value>460000</value>
            </setting>
            <setting name="unname" serializeAs="String">
                <value>trungyen25101988</value>
            </setting>
            <setting name="nammau" serializeAs="String">
                <value>QLDD.mdb</value>
            </setting>
            <setting name="namchuyen" serializeAs="String">
                <value>QLDD2015.mdb</value>
            </setting>
            <setting name="duongdanchuyen" serializeAs="String">
                <value />
            </setting>
            <setting name="thumucchuyen" serializeAs="String">
                <value />
            </setting>
        </KPBT.Settings1>
    </userSettings>
</configuration>